<section class="hidden-xs">
  <ol class="breadcrumb">
    <li class="">
      <a [routerLink]="['/']"> <i class="fa fa-dashboard"></i> Dashboard</a>
    </li>
    <li class=""><i class=""></i> {{ this.Nome_Tabela }}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="box">
      <h2 class="text-center text-bold">{{ this.Nome_Tabela }}</h2>
      <button (click)="exportAsXLSX()">
        <i class="fa fa-file-excel-o" style="font-size:28px;color:blue"></i>
      </button>
      <div class="box-body box-footer">
        <table class="table table-crud">
          <tr class="tableCrud_row">
            <th class="text-left">Nome</th>
            <th class="text-left">Email</th>
            <th class="text-left">Origem</th>
            <th class="text-left">Zap</th>
            <th class="text-left">Lojista</th>
            <th class="">Ações</th>
          </tr>
          <tr class="tableCrud_row" *ngFor="let Entidade of vList">
            <td class="text-left">{{ Entidade.nome }}</td>
            <td class="text-left">{{ Entidade.email }}</td>
            <td class="text-left">{{ Entidade.origem }}</td>
            <td class="text-left">{{ Entidade.whatsapp | kzFone }}</td>
            <td class="text-left">{{ Entidade.pagamentoAprovado }}</td>
            <td>
              <a class="btn fa fa-pencil tableCrud_row-btn" type="button" (click)="onEdit(Entidade)"></a>
              <a
                class="btn fa fa-close tableCrud_row-btn"
                type="button"
                (click)="keyToDelete = Entidade.$key"
                style="margin-left: 2.5px;"
                data-toggle="modal"
                data-target="#modalExcluir"
              ></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- <a class="btn btn-floating" type="button" data-toggle="modal" [routerLink]="[urlRoute + '/new']"> -->
  <a class="btn btn-floating" type="button" data-toggle="modal" (click)="onNavegar(urlRoute + '/new')">
    <i class="fa fa-plus"></i>
  </a>
  <div
    class="modal modal-default fade"
    style="color: #333;"
    id="modalExcluir"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalExcluirLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalExcluirLabel">Realmente deseja excluir?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-secundary" data-dismiss="modal" (click)="onDelete()">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</section>
